* {
    margin:0;
    padding:0;
}

#COL1 {
    position:absolute;
    top:0px;
    left:0px;
    width:300px;
    margin-top:10px;
    /* background-color:#ffff55; */
}

#COL2 {
    margin-left:400px;
    margin-right:100px;
    margin-top:10px;
    /* background-color:#ffffbb; */
}

.texto-justificado{
    text-align: justify;
    }

h2 {
color:blue;
}

.imgRedonda {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}